#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <900>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;      // 500
            delay-ms = <0>;                   //   10
        };
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    apostrophe_quote: apostrophe_quote {
        compatible = "zmk,behavior-mod-morph";
        label = "APOSTROPHE_QUOTE";
        bindings = <&apostrophe>, <&double_quote>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    semicolon_colon: semicolon_colon {
        compatible = "zmk,behavior-mod-morph";
        label = "SEMICOLON_COLON";
        bindings = <&semicolon>, <&colon>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    period_greater: period_greater {
        compatible = "zmk,behavior-mod-morph";
        label = "PERIOD_GREATER";
        bindings = <&period>, <&greater_than>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    comma_less_than: comma_less_than {
        compatible = "zmk,behavior-mod-morph";
        label = "COMMA_LESS_THAN";
        bindings = <&comma>, <&less_than>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    left_square_curly_bracs: left_square_curly_bracs {
        compatible = "zmk,behavior-mod-morph";
        label = "LEFT_SQUARE_CURLY_BRACS";
        bindings = <&left_square_bracket>, <&left_curly_brace>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    right_square_curly_bracs: right_square_curly_bracs {
        compatible = "zmk,behavior-mod-morph";
        label = "RIGHT_SQUARE_CURLY_BRACS";
        bindings = <&right_square_bracket>, <&right_curly_brace>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    slash_question: slash_question {
        compatible = "zmk,behavior-mod-morph";
        label = "SLASH_QUESTION";
        bindings = <&forward_slash>, <&question_mark>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    backslash_vertical: backslash_vertical {
        compatible = "zmk,behavior-mod-morph";
        label = "BACKSLASH_VERTICAL";
        bindings = <&backslash>, <&vertical_bar>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    combos {
        compatible = "zmk,combos";

        to_functional_layer {
            bindings = <&mo 2>;
            key-positions = <60 56>;
            timeout-ms = <150>;
        };
    };

    macros {
        colon: column {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_N5 &kp KP_NUMBER_8>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "COLUMN";
        };

        apostrophe: apostrophe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_3 &kp KP_NUMBER_9>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "APOSTROPHE";
        };

        double_quote: double_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_N3 &kp KP_NUMBER_4>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "DOUBLE_QUOTE";
        };

        semicolon: semicolon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_N5 &kp KP_NUMBER_9>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "SEMICOLON";
        };

        period: period {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_4 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "PERIOD";
        };

        comma: comma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_4 &kp KP_NUMBER_4>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "COMMA";
        };

        less_than: less_than {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_6 &kp KP_NUMBER_0>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "LESS_THAN";
        };

        greater_than: greater_than {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_6 &kp KP_NUMBER_2>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "GREATER_THAN";
        };

        left_curly_brace: left_curly_brace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_3>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "LEFT_CURLY_BRACE";
        };

        right_curly_brace: right_curly_brace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_5>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "RIGHT_CURLY_BRACE";
        };

        left_square_bracket: left_square_bracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_9 &kp KP_NUMBER_1>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "LEFT_SQUARE_BRACKET";
        };

        right_square_bracket: right_square_bracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_9 &kp KP_NUMBER_3>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "RIGHT_SQUARE_BRACKET";
        };

        at_symbol: at_symbol {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_6 &kp KP_NUMBER_4>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "AT_SYMBOL";
        };

        hash_sign: hash_sign {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_3 &kp KP_NUMBER_5>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "HASH_SIGN";
        };

        dollar_sign: dollar_sign {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_3 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "DOLLAR_SIGN";
        };

        percent_sign: percent_sign {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_3 &kp KP_NUMBER_7>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "PERCENT_SIGN";
        };

        caret_sign: caret_sign {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_9 &kp KP_NUMBER_4>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "CARET_SIGN";
        };

        ampersand: ampersand {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_3 &kp KP_NUMBER_8>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "AMPERSAND";
        };

        question_mark: question_mark {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_6 &kp KP_NUMBER_3>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "QUESTION_MARK";
        };

        forward_slash: forward_slash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_4 &kp KP_NUMBER_7>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "FORWARD_SLASH";
        };

        vertical_bar: vertical_bar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_4>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "VERTICAL_BAR";
        };

        backslash: backslash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp KP_NUMBER_9 &kp KP_NUMBER_2>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "BACKSLASH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Main {
            bindings = <
&kp GRAVE       &kp N1  &kp N2  &kp N3        &kp N4  &kp N5       &mmv MOVE_UP     &kp N6     &kp N7  &kp N8     &kp N9   &kp N0    &kp BACKSPACE
&kp RBKT        &kp Q   &kp W   &kp E         &kp R   &kp T        &mmv MOVE_DOWN   &kp Y      &kp U   &kp I      &kp O    &kp P     &kp LBKT
&kp LEFT_SHIFT  &kp A   &kp S   &kp D         &kp F   &kp G        &mmv MOVE_LEFT   &kp H      &kp J   &kp K      &kp L    &kp SEMI  &kp APOS
&kp LCTRL       &kp Z   &kp X   &kp C         &kp V   &kp B        &mmv MOVE_RIGHT  &kp N      &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
&mkp RCLK       &none   &none   &kp LEFT_ALT  &mo 1   &kp SPACE    &mkp LCLK        &kp ENTER  &mo 1   &kp ESC    &none    &none
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
            display-name = "LAYER0";
        };

        Numeric {
            bindings = <
&trans                     &kp EXCL  &at_symbol  &hash_sign  &dollar_sign  &percent_sign    &trans  &caret_sign  &ampersand  &kp ASTERISK      &kp MINUS        &kp EQUAL         &trans
&right_square_curly_bracs  &none     &none       &kp UP      &none         &none            &trans  &none        &none       &none             &none            &none             &left_square_curly_bracs
&trans                     &none     &kp LEFT    &kp DOWN    &kp RIGHT     &none            &trans  &none        &none       &none             &none            &semicolon_colon  &apostrophe_quote
&trans                     &none     &none       &none       &none         &none            &trans  &none        &none       &comma_less_than  &period_greater  &slash_question   &backslash_vertical
&trans                     &trans    &trans      &trans      &trans        &trans           &trans  &trans       &trans      &trans            &trans           &trans
            >;
        };

        Functional {
            bindings = <
&kp F1        &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &trans  &kp F7  &kp F8           &kp F9          &kp F10          &kp F11  &kp F12
&kp TAB       &none   &none   &trans  &none   &none     &trans  &none   &kp PRINTSCREEN  &kp SCROLLLOCK  &kp PAUSE_BREAK  &none    &none
&kp CAPS      &none   &trans  &trans  &trans  &none     &trans  &none   &kp INSERT       &kp HOME        &kp PAGE_UP      &none    &none
&kp LEFT_WIN  &none   &none   &none   &none   &none     &trans  &none   &kp DELETE       &kp END         &kp PAGE_DOWN    &none    &mo 3
&trans        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans           &trans          &trans           &trans
            >;
        };

        Danger {
            bindings = <
&none            &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4       &none  &none  &none  &none  &none  &bt BT_CLR  &bt BT_CLR_ALL
&none            &none            &none            &none            &none            &none              &none  &none  &none  &none  &none  &none       &out OUT_TOG
&none            &none            &none            &none            &none            &none              &none  &none  &none  &none  &none  &none       &none
&rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_SPD  &rgb_ug RGB_SPI  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI    &none  &none  &none  &none  &none  &none       &none
&none            &none            &none            &none            &none            &none              &none  &none  &none  &none  &none  &none
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
